body{
    background-color:rgb(245, 235, 235);
    margin: 20%;
    color: #1EA1D7;
    text-align: center;
}

.vente, img {
    display: flex;
    flex-wrap: wrap-reverse ;
    justify-content: space-around;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
